<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a87b3">  <td>19/10/15 00:23:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunTest.EntireTest()[pri:0, instance:MyMessages.RunTest@21a947fe]">EntireTest</td> 
  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/10/15 00:24:59</td>   <td>115073</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RunTest.afterClass()[pri:0, instance:MyMessages.RunTest@21a947fe]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/10/15 00:24:59</td>   <td>115057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RunTest.afterMethod(java.lang.reflect.Method)[pri:0, instance:MyMessages.RunTest@21a947fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/10/15 00:22:52</td>   <td>-11624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunTest.beforeClass()[pri:0, instance:MyMessages.RunTest@21a947fe]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/10/15 00:23:03</td>   <td>-205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:MyMessages.RunTest@21a947fe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1306854175</td>   <td></td> </tr>
</table>
